KTNB.Websites/Service References/ldap/ldap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:ldap" elementFormDefault="qualified" targetNamespace="urn:ldap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.36.28.71/vpbws/ldap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/vpb.app.business.services" />
  <xs:element name="ldapLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldapLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ldapLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldapGetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldapGetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/vpb.app.business.services" minOccurs="0" name="ldapGetUserInfoResult" nillable="true" type="q1:ldapUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>