KTNB.Websites/Service References/ldap/ldap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:ldap" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ldap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ldap/Imports">
      <xsd:import schemaLocation="http://10.36.28.71/vpbws/ldap.svc?xsd=xsd0" namespace="urn:ldap" />
      <xsd:import schemaLocation="http://10.36.28.71/vpbws/ldap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.36.28.71/vpbws/ldap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/vpb.app.business.services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ildap_ldapLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ldapLogin" />
  </wsdl:message>
  <wsdl:message name="Ildap_ldapLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ldapLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Ildap_ldapGetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ldapGetUserInfo" />
  </wsdl:message>
  <wsdl:message name="Ildap_ldapGetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ldapGetUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="Ildap">
    <wsdl:operation name="ldapLogin">
      <wsdl:input wsaw:Action="urn:ldap/Ildap/ldapLogin" message="tns:Ildap_ldapLogin_InputMessage" />
      <wsdl:output wsaw:Action="urn:ldap/Ildap/ldapLoginResponse" message="tns:Ildap_ldapLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ldapGetUserInfo">
      <wsdl:input wsaw:Action="urn:ldap/Ildap/ldapGetUserInfo" message="tns:Ildap_ldapGetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:ldap/Ildap/ldapGetUserInfoResponse" message="tns:Ildap_ldapGetUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>